<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="user.hotelgrand" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityStart"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user_interface.restaurant_interface.ActivityMain"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".user_interface.restaurant_interface.ActivityRestaurant"
            android:label="@string/title_activity_restaurant"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".user_interface.restaurant_interface.ActivityDish"
            android:label="@string/title_activity_dish"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".user_interface.editor_interface.ActivityEditor"
            android:label="@string/title_activity_editor"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".user_interface.editor_interface.ActivityEditorMenu"
            android:label="@string/title_activity_editor_menu"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".user_interface.editor_interface.ActivityEditorHistory"
            android:label="@string/title_activity_editor_history"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".user_interface.editor_interface.ActivityEditorUser"
            android:label="@string/title_activity_activity_user"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".user_interface.editor_interface.ActivityEditorSession"
            android:label="@string/title_activity_activity_manager_session"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>
